
/* M O B I L E */


@media screen and (min-width: 481px) and (max-width: 768px) {

	/* H E A D E R */

	
	header {
        display: block;
        margin: -20px;
        padding: 0px;
    }
	
	header .logo {
		width: 95px;
		margin: 0 0 0 5%;
	}
	
	header nav li:nth-child(3) {
		position: absolute;
		top: 40px;
		right: 20px;
	}
	header nav ul {
		display: flex;
        justify-content: space-between;
        margin: 6% 0 6% -6%;
	}
	header nav #hebergements:hover, 
	header nav #activites:hover {
		border-top: none;
	}
	header nav #hebergements:hover::after {
		content: "";
		border-bottom: 3px solid #0065FC;
		display: block;
		margin: 6px 0 0 0;
		width: 14rem;
		position: absolute;
		right: 16rem;
		display:block;
	}
	header nav #activites:hover::after {
		content: "";
		border-bottom: 3px solid #0065FC;
		display: block;
		margin: 6px 0 0 0;
		width: 14rem;
		position: absolute;
		right: 0rem;
		display:block;
		border-top:none;
	}
	
	.page {
		margin: 26px 26px 0 0;
	}

	/* R E C H E R C H E  / F I L T R E */
	
	.recherche .icone_recherche {
		display: inline-block;
		width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
		color: white;
        background: #0065fc;
        border-radius:10px;
	}
	.recherche .bouton_rechercher {
		display: none;
	}
	.filtres {
		display: flex;
		flex-direction: column;
		width: 500px;
	}
	.filtres .bloc {
		margin-left: 0px;
		margin-right: 30px;
	}

	/* S E C T I O N */

	.section2 {
		display: flex;
		flex-direction: column-reverse;
	}
	.section2 .hebergements_a_marseille, 
	.les_plus_populaires, .section3 {
		width: 95%;;
	}
	.les_plus_populaires .populaires .bloc_populaires{
		width: 95%;
	}
	.section2 .hebergements_a_marseille .hebergement .bloc_hebergement, 
	.section3 .activites_a_marseille .bloc_activites, 
	.section3 .activites_a_marseille .bloc_activites picture img{
		
		width: 100%;
	}
	.section2 .hebergements_a_marseille {
		background: white;
		border: none;
	}
	.section2 .hebergements_a_marseille h2{
		font-size:12px;
	}
	.section2 .hebergements_a_marseille .hebergement {
		display: flex;
		flex-direction: column;
	}
	.section2 .hebergements_a_marseille .hebergement .bloc_hebergement picture img {
		width: 100%
	}
	.icone_chart_line {
		margin-left: 390px;
	}
	.section3{
		margin:30px;
	}
	.section3 .activites_a_marseille {
		display: flex;
		flex-direction: column;
	}
	.section3 .activites_a_marseille .bloc_activites {
		margin-bottom: 20px;
	}
	.section3 .activites_a_marseille .bloc1 .bloc_activites picture #photo1, 
	.section3 .activites_a_marseille .bloc1 .bloc_activites picture #photo4, 
	.section3 .activites_a_marseille .bloc2 .bloc_activites picture #photo2, 
	.section3 .activites_a_marseille .bloc2 .bloc_activites picture #photo3, 
	.section3 .activites_a_marseille .bloc2 .bloc_activites picture #photo5, 
	.section3 .activites_a_marseille .bloc2 .bloc_activites picture #photo6 {
		height: 200px;
	}
	
	.les_plus_populaires .populaires .bloc_populaires picture img{
		padding: 5px;
	}
	
	.les_plus_populaires .populaires .bloc_populaires .info_cotes{
		width: 28%;
	}
	.les_plus_populaires .populaires .bloc_populaires picture img{
		width: 100%;
		min-width: 253px;
		min-height: 168px;
	}
	
	.section2 .hebergements_a_marseille .hebergement .bloc_hebergement{
		height: 250px;
	}
	.section2 .hebergements_a_marseille .hebergement .bloc_hebergement picture img{
		height: 175px;
	}
	
	.section3 .activites_a_marseille .bloc1, .section3 .activites_a_marseille .bloc2, .section3 .activites_a_marseille .bloc3, .section3 .activites_a_marseille .bloc4{
		width: 98%;
		margin: 20px;
	}
	.les_plus_populaires .populaires .bloc_populaires .info_cotes .gras{
		line-height: 35px;
	}
	
	.les_plus_populaires .populaires .bloc_populaires .info_cotes .etoile{
		margin: 25px 0 0 0;
	}
	.les_plus_populaires .populaires .bloc_populaires .info_cotes {
		width: 60%;
		display: flex;
		flex-direction: column;
		font-size: 12px;
		line-height: 43px;
		margin: 0 0 0 13px;
	}
	footer {
		display: flex;
		flex-direction: column;
		width: 91%;
		margin: 0 0 0 20px;
	}
	
	footer div {
		width: 90%;
	}
}
