@media screen and (min-width: 320px) and (max-width: 480px) {
	
	
	/* H E A D E R */

	header .logo {
		width: 95px;
		margin: 0 0 0 7%;
	}
	header {
        display: block;
        margin: -20px;
        padding: 0px;
    }
	header nav li:nth-child(3) {
		position: absolute;
		top: 40px;
		right: 20px;
	}
	header nav ul {
		display: flex;
        justify-content: space-between;
         margin: 6% 0 6% 0%;
	}
	header nav ul li{
		margin: 0 0 0 36px;
	}
	header nav #hebergements:hover, header nav #activites:hover {
		border-top: none;
	}
	header nav #hebergements:hover::after {
		content: "";
		border-bottom: 3px solid #0065FC;
		display: block;
		margin: 6px 0 0 0;
		width: 14rem;
		position: absolute;
		right: 16rem;
		display:block;
	}
	header nav #activites:hover::after {
		content: "";
		border-bottom: 3px solid #0065FC;
		display: block;
		margin: 6px 0 0 0;
		width: 14rem;
		position: absolute;
		right: 0rem;
		display:block;
		border-top:none;
	}
	
	.page {
		margin: 26px 26px 0 0;
	}

	/* R E C H E R C H E  / F I L T R E */
	
	.recherche .icone_recherche {
		display: inline-block;
		width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
		color: white;
        background: #0065fc;
        border-radius:10px;
	}
	.recherche .bouton_rechercher {
		display: none;
	}
	.filtres {
		display: flex;
		flex-direction: column;
	}
	.filtres .bloc {
		margin-left: 0px;
		margin-right: 30px;
	}

	/* S E C T I O N */

	.section2 {
		display: flex;
		flex-direction: column-reverse;
	}
	.section2 .hebergements_a_marseille, .les_plus_populaires, .section3 {
		width: 95%;
	}
	.les_plus_populaires .populaires .bloc_populaires{
		width: 100%;
		flex-direction:column;
		height: auto;
	}
	.les_plus_populaires .populaires .bloc_populaires picture img{
		width: 97%;
		border-radius:20px;
	}
	.les_plus_populaires .populaires .bloc_populaires .info_cotes{
		line-height: 17px;
		font-size: 14px;
	}
	.les_plus_populaires .populaires .bloc_populaires .info_cotes .etoile {
		margin: 4px 0 0 0;
		padding: 3px;
	}
	.section2 .hebergements_a_marseille .hebergement .bloc_hebergement, 
	.section3 .activites_a_marseille .bloc_activites, 
	.section3 .activites_a_marseille .bloc_activites picture img {
		width: 100%;
	}
	.section2 .hebergements_a_marseille {
		/*background: white;*/
		border: none;
		/*height: 1700px;*/
		margin: 10px 0;
	}
	.section2 .hebergements_a_marseille .hebergement {
		display: flex;
		flex-direction: column;
	}
	.section2 .hebergements_a_marseille .hebergement .bloc_hebergement picture img {
		width: 97%;
	}
	.section2 .hebergements_a_marseille .hebergement .bloc_hebergement .info-dessous{
		line-height: 12px;
		font-size: 14px;
	}
	
	
	.icone_chart_line {
		margin-left: 94%;
	}
	
	.section3 {
		margin: 22px;
	}
	.section3 .activites_a_marseille {
		display: flex;
		flex-direction: column;
	}
	.section3 .activites_a_marseille .bloc_activites {
		margin-bottom: 20px;
	}
	.section3 .activites_a_marseille .bloc1, 
	.section3 .activites_a_marseille .bloc2, 
	.section3 .activites_a_marseille .bloc3, 
	.section3 .activites_a_marseille .bloc4{
		width: 105%;
		margin: 1px;
	}
	
	.section2 .hebergements_a_marseille .hebergement .bloc_hebergement{
		height: 220px;
	}
	.section2 .hebergements_a_marseille .hebergement .bloc_hebergement picture img{
		height: 150px;
		width: 100%;
	}
	.les_plus_populaires .populaires .bloc_populaires picture img{
		height: 200px;
		padding: 5px;
	}
	
	.les_plus_populaires .populaires .bloc_populaires .info_cotes{
		margin: 2px 0px 15px 15px;
	}
	
	.section3 .activites_a_marseille .bloc1 .bloc_activites picture #photo1, 
	.section3 .activites_a_marseille .bloc1 .bloc_activites picture #photo4, 
	.section3 .activites_a_marseille .bloc2 .bloc_activites picture #photo2, 
	.section3 .activites_a_marseille .bloc2 .bloc_activites picture #photo3, 
	.section3 .activites_a_marseille .bloc2 .bloc_activites picture #photo5, 
	.section3 .activites_a_marseille .bloc2 .bloc_activites picture #photo6 {
		height: 200px;
	}
	
	.section1, .section2, .section3, footer {
		margin: 3% 0 0 3%;
	}
	footer {
		display: flex;
		flex-direction: column;
		width: 89%;	
	}
	
	footer div {
		width: 90%;
	}
}