
/* M E D I A S     Q U E R I E S    B R E A K P O I N T S */



/* T A B L E T T E */


@media screen and (min-width:769px) and (max-width:1180px) {
	
	header .logo {
		width: 95px;
		margin: 0 0 0 3%;
	}
	
	.section2 {
		display: flex;
		flex-direction: column-reverse;
	}
	.section2 .hebergements_a_marseille{
		margin: 0px 0 0 -22px;
	}
	.section2 .hebergements_a_marseille, 
	.les_plus_populaires, .section3 {
		/*width: 600px;*/
	}
	.section2 .hebergements_a_marseille {
		background: white;
		border: none;
	}
	.section2 .hebergements_a_marseille .hebergement .bloc_hebergement {
		width: 100%;
		height: 330px
	}
	.section2 .hebergements_a_marseille .hebergement .bloc_hebergement picture img {
		width: 98%;
		height:250px;
	}
	.section2 .hebergements_a_marseille .hebergement, 
	.section3 .activites_a_marseille {
		display: flex;
		flex-direction: column;
	}
	.icone_chart_line {
		margin-left: 580px;
	}
	.les_plus_populaires{
		width:100%;
	}
	.les_plus_populaires .populaires .bloc_populaires {
		width: 100%;
		height: 200px;
	}
	.les_plus_populaires .populaires .bloc_populaires picture img {
		width: 20rem;
		height: 190px;
	}
	
	.page {
		margin: 26px 26px 0 0;
	}

	/* R E C H E R C H E  / F I L T R E */
	
	.recherche .icone_recherche {
		display: inline-block;
		width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
		color: white;
        background: #0065fc;
        border-radius:10px;
	}
	.recherche .bouton_rechercher {
		display: none;
	}
	.filtres {
		display: flex;
		flex-direction: column;
		width: 500px;
	}
	.filtres .bloc {
		margin-left: 0px;
		margin-right: 30px;
	}

	/* S E C T I O N */

	.section2 {
		display: flex;
		flex-direction: column-reverse;
	}
	.section2 .hebergements_a_marseille, 
	.les_plus_populaires, .section3 {
		width: 95%;
		margin: 0 auto;
	}
	.les_plus_populaires .populaires{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.les_plus_populaires .populaires .bloc_populaires{
		width: 70%;
	}
	.section2 .hebergements_a_marseille .hebergement .bloc_hebergement, 
	.section3 .activites_a_marseille .bloc_activites, 
	.section3 .activites_a_marseille .bloc_activites picture img {
		width: 100%;
	}
	.section2 .hebergements_a_marseille {
		background: white;
		border: none;
	}
	.section2 .hebergements_a_marseille h2{
		font-size:12px;
	}
	.section2 .hebergements_a_marseille .hebergement {
		display: flex;
		flex-direction: column;
	}
	.section2 .hebergements_a_marseille .hebergement .bloc_hebergement picture img {
		width: 100%;
	}
	.icone_chart_line {
		margin-left: 94%;
	}
	.section3{
		margin:30px;
	}
	.section3 .activites_a_marseille {
		display: flex;
		flex-direction: column;
		/*margin: 20px;*/
	}
	.section3 .activites_a_marseille .bloc_activites {
		margin-bottom: 20px;
	}
	.section3 .activites_a_marseille .bloc_activites img {
		width: 100%;
	}
	.section3 .activites_a_marseille .bloc1 .bloc_activites picture #photo1,
	.section3 .activites_a_marseille .bloc1 .bloc_activites picture #photo4,
	.section3 .activites_a_marseille .bloc2 .bloc_activites picture #photo2,
	.section3 .activites_a_marseille .bloc2 .bloc_activites picture #photo3, 
	.section3 .activites_a_marseille .bloc2 .bloc_activites picture #photo5, 
	.section3 .activites_a_marseille .bloc2 .bloc_activites picture #photo6 {
		height: 250px;
	}
	
	.section3 .activites_a_marseille .bloc1, .section3 .activites_a_marseille .bloc2, .section3 .activites_a_marseille .bloc3, .section3 .activites_a_marseille .bloc4{
		width: 100%;
	}
	.les_plus_populaires .populaires .bloc_populaires .info_cotes{
		
	}
	.les_plus_populaires .populaires .bloc_populaires .info_cotes {
		width: 60%;
		display: flex;
		flex-direction: column;
		font-size: 12px;
		line-height: 44px;
		padding: 3px;
		margin: -6px 0px 15px 15px;
	}
	footer {
		display: flex;
		flex-direction: column;
		width: 95%;
	}
	
	footer div {
		width: 90%;
	}
}
