@font-face{
	font-family: 'raleway';
	src: url('police/Raleway-VariableFont_wght.ttf');
}
*  {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
   
}


.page {
	margin: 40px;
}
.page, footer {
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
}
a {
	text-decoration: none;
	color: black;
}
.gras {
	font-weight: bold;
}

.section1,.section2,.section3,footer{
	margin: 3% 0 0 3%;
}

/* H E A D E R */


header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
header .logo {
	width: 95px;
	margin: 0 0 0 3%;
}

header nav ul li {
    display: inline-block;
    margin-left:70px;
}
header nav #inscrire{
	color: #0065FC;
}
header nav #hebergements:hover {
	border-top: 3px #0065FC solid;
	color: #0065FC;
	padding-top: 45px;
}
header nav #activites:hover {
	border-top: 3px #0065FC solid;
	color: #0065FC;
	padding-top: 45px;
}


/* S E C T I O N */


.section1 .recherche .icone_recherche {
	color: white;
}
.section1 .recherche {
	display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 420px;
    height: 50px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.section1 .recherche .icone_map {
	width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px;
}
.section1 .recherche form input {
	border: none;
    font-size: 14px;
}
.section1 .recherche button {
	width: 135px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    background-color: #0065fc;
    border-radius: 0px 10px 10px 0px;
    border: none;
}


/* F I L T R E   /   I N F O */


.filtres {
	width: 75%;
	display: flex;
}
.filtres .bloc_filtres {
	display: flex;
	flex-wrap: wrap;
}

.filtres .bloc {
	display: flex;
	justify-content: space-around;
	margin: 10px 0 10px 20px;
}

.filtres .bloc .gras {
	padding: 8%;
}

.filtres .bloc .filtre {
	display: flex;
	border: 3px #f2f2f2 solid;
	border-radius: 25px;
	height: 48px;
}
.filtres .bloc #filtre_economique {
	width: 200px;
}
.filtres .bloc #filtre_familial {
	width: 150px;
}
.filtres .bloc #filtre_romantique {
	width: 200px;
}
.filtres .bloc #filtre_animaux {
	width: 250px;
}

.filtres .bloc .filtre:hover {
	color: #fff;
    background-color: #0065fc;
}
.filtres .bloc .filtre .icone {
	color: #0065FC;
	background: #DEEBFF;
	width: 50px;
    height: 52px;
    line-height: 50px;
    text-align: center;
    border-radius: 26px;
    margin: -2px 10px 0px -2px;
}
.info {
	display: flex;
}
.info .icone_info {
	color: #0065FC;
	width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #f2f2f2;
    border-radius: 12px;
    margin-right: 10px; 
}


/* HEBERGMENETS A MARSEILLE  /  LES PLUS POPULAIRES */


.section2 {
	display: flex;
}
.etoile {
	color: #0065FC;
}
.gris {
	color: #f2f2f2;
}

#bloc_hebergement--img-1{
	background-image: url("images/hebergements/4_small/auberge_la_cannebiere.jpg");
	background-repeat: no-repeat;
}
.show-plus{
	margin: 20px;
}

.section2 .hebergements_a_marseille {
	border: 1px #f2f2f2 solid;
	border-radius: 20px;
	background: #f2f2f2;
	width: 68%;
	padding: 20px;
	margin: 0 10px 0 10px;
}
.section2 .hebergements_a_marseille .hebergement {
	display: flex;
	justify-content: space-around;
}
.section2 .hebergements_a_marseille .hebergement .bloc_hebergement {
	border-radius: 20px;
	box-shadow: 2px 2px 5px grey;
	background: white;
	padding:3px;
	width: 30%;
	height:190px;
	margin: 20px 0 0 0;
}
.section2 .hebergements_a_marseille .hebergement .bloc_hebergement .info-dessous{
	height: 75px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-left: 15px;
}
.section2 .hebergements_a_marseille .hebergement .bloc_hebergement:hover {
	-webkit-transform:scale(1.002); 
    -moz-transform:scale(1.002); 
    box-shadow: 2px 2px 5px grey;
    background-color: #deebff;
}
.section2 .hebergements_a_marseille .hebergement .bloc_hebergement picture img {
	width: 100%;
	height: 115px;
	border-radius: 20px 20px 0px 0px;
}

.section2 .hebergements_a_marseille .showplus {
	margin:14px 0 0 22px;
}


/* A S I D E */


.les_plus_populaires {
	border: 1px #f2f2f2 solid;
	border-radius: 20px;
	background: #f2f2f2;
	width: 28%;
	padding: 20px;
	
	position: relative;
}
.les_plus_populaires info-dessous{
	line-height: 20px;
}
.icone_chart_line {
	position: absolute;
	top: 27px;
	right: 40px;
}
.les_plus_populaires .populaires .bloc_populaires {
	display: flex;
	width: 95%;
	height: 50%;
	border-radius: 20px;
	box-shadow: 2px 2px 5px grey;
	background: white;
	margin: 10px 0 0 0;

}
.les_plus_populaires .populaires .bloc_populaires:hover {
	-webkit-transform:scale(1.002); 
    -moz-transform:scale(1.002); 
    box-shadow: 2px 2px 5px grey;
    background-color: #deebff;
}
.les_plus_populaires .populaires .bloc_populaires picture img {
	width: 140px;
	height: 130px;
	border-radius: 20px 0 0 20px;
	padding: 5px;
}
.les_plus_populaires .populaires .bloc_populaires .info_cotes {
    width: 60%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
	line-height: 26px;
}

.les_plus_populaires .populaires .bloc_populaires .info_cotes .etoile {
	margin: 34px 0 0 0;
}

/* ACTIVITES A MARSEILLE */

#activites_Marseille .titre{
	margin: 20px 14px;
}
	
.section3 .activites_a_marseille {
	display: flex;
	justify-content: space-between;
}
.section3 .activites_a_marseille .bloc1,
.section3 .activites_a_marseille .bloc2,
.section3 .activites_a_marseille .bloc3,
.section3 .activites_a_marseille .bloc4{
	width: 24%;
	margin: 20px;
}
.section .activites_a_marseille .bloc2 {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}
.section3 .activites_a_marseille .bloc_activites {
	border-radius: 20px;
	box-shadow: 2px 2px 5px grey;
}
.section3 .activites_a_marseille .bloc_activites:hover {
	box-shadow: 5px 5px 8px grey;
    background-color: #deebff;
}
.section3 .activites_a_marseille .bloc_activites .info_dessous {
	padding: 2px;
}
.section3 .activites_a_marseille .bloc_activites picture img {
	width: 100%;
	height: 300px;
	border-radius: 20px 20px 0 0;
}

.section3 .activites_a_marseille .bloc1 .bloc_activites picture #photo1 {
	height: 525px;
}
.section3 .activites_a_marseille .bloc2 .bloc_activites picture #photo2 {
	height: 223px;
}
.section3 .activites_a_marseille .bloc2 .bloc_activites picture #photo3 {
	height: 223px
}
.section3 .activites_a_marseille .bloc1 .bloc_activites picture #photo4 {
	height: 525px;
}
.section3 .activites_a_marseille .bloc2 .bloc_activites picture #photo5 {
	height: 223px;
}
.section3 .activites_a_marseille .bloc2 .bloc_activites picture #photo6 {
	height: 223px;
}

.bloc_activites--2,.bloc_activites--3,.bloc_activites--5,.bloc_activites--6{
	margin:0 0 20px 0;
}

.section3 .activites_a_marseille .bloc_activites .info_dessous h3 {
	margin: 15px 0px 15px 15px;
}
/* F O O T E R */


footer {
	background-color: #f2f2f2;
    padding:20px 0 0 20px;
    display: flex;
	
}
footer div{
	width:30%;
}
footer ul  {
	margin: 0 0 0 10%;
}

footer ul li {
	list-style: none;
	line-height: 40px;
	margin-left: -40px;
}


